@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --black: #1f2937;
  --gray: #e5e7eb;
  --white: #f9faf8;
  --blue: #3882f6;
  --font-sm: 18px;
  --font-md: 24px;
  --font-lg: 36px;
  --font-xl: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}
